
    #myButton1:hover, #myButton2:hover {
        background-color: #ffe682;
    }

    #myButton1, #myButton2 {
        background-color: transparent;
        border: none;
        position: absolute;
        z-index: 2;
        height: 80px; 
        width: 28px;
        font-family: helvetica, serif, 'Times New Roman', Times;
        font-size: x-large;
        }
    #myButton1{
         top: 350px;
         margin-left: 235px;
        }
    #myButton2{
        top: 350px;
        margin-left: 267px;
    }
    #Knowlton_text{/*Knowlton parking lot text at the top of the scrren*/
        font-weight: bold;
        margin-top: 15px;
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        font-family: "inter";
        font-style: normal;
        color: #3F230D;
    }
    #availablity{/*availablity text at the top of the scrren*/
        font-family: "Inter";
        font-size: 23px;
        font-weight: bold;
    }
      .centerborder {/*border around availablity*/
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 5px;
            border-radius: 300px;
            padding: 10px;
            width: 11%;
            text-align: center;
      }
      .center-image {
        display: block;
        margin: 0 auto;
      }
      #Knowlton_img{
        margin-top: 20px;
        width: 1400px;
        height: 485px;
        z-index: -1;
      }
    .rectangle {
        position: absolute;
        width: 1440px;
        height: 66px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;

        background: #FFCE0C;
    }